[2016-07-08 10:24] adrian-activate opened #1 "Properties not removed from Zoopla and onthemarket"
Hi Adrian,

Hope you are well.
Please see attached the sheet re the properties that are currently available.

Anything labelled Query Z or Query O seems to have been removed from the HG website (although it may be labelled on the HG site as a Sold or Let property). If so they should not upload.

As far as the others go I don’t know where the problem lies and if it is an upload issue or whether Zoo

[2016-07-08 10:24] adrian-activate commented on #1
[0522_001.pdf](https://github.com/ActivateMedia/heathgate/files/353987/0522_001.pdf)

[2016-07-08 10:24] adrian-activate commented on #1
Hi

I just looked at a couple of the properties - Sevington Street and Litchfield Way. In the CMS the daily export checkbox is still checked plus the checkbox under availability labeled ‘Property is sold or rented’  is unchecked.

It would seem to me that this is the reason they are still uploading?

Adrian

[2016-07-08 10:24] adrian-activate commented on #1
Hi

I also checked the Brookline Rise proper. Here the property is marked as sold and the the daily export checkbox is ticked. It is featured on the the onthemarket website and is shown as sold on their site.

Again I can’t see anything wrong on either end.

Adrian

[2016-07-08 10:25] #1 closed, assigned to adrian-activate

[2016-07-08 10:27] adrian-activate opened #2 "Properties rejected by Zoopla"
19 Harmood Grove and Flat 89 Heathcroft rejected for lack of second half of postcode. The full postcode appears to be there in the CMS.

[2016-07-08 10:28] adrian-activate commented on #2
Email sent to Doug

Hi Doug,

I had a look at the properties you mentioned and could not see an obvious difference between them and properties that are successfully showing on Zoopla. So Andrea will investigate further into why these properties are not uploading today. It would be helpful if we had access to the error reports you are receiving from Zoopla. If these are through and admin panel coul

[2016-07-08 10:34] adrian-activate opened #3 "Middleway listing incorrect"
Why is Middleway £2.485m listed as terraced instead of detached?

[2016-07-12 13:07] adrian-activate commented on #2
@andreafalzetti did you look at this?

[2016-07-14 08:21] adrian-activate commented on #2
@andreafalzetti

Dear Activate Media,

A mutual client of ours Heathgate, 105 Heath Street, London NW3 6SS (heathgate ID:  3785) has contacted us in regards to the following properties being rejected on Zoopla:

invalid incode (16)
Listing ID  Source listing ID   Source branch ID    Postal code Type    Price
40787120    3785_11085  3785    W9  rent    £595
39183554    3785_7511   3785    NW8 rent

[2016-07-14 15:51] andreafalzetti commented on #2
**Update**

I have investigated a part of the script and it seems that:
1. the full address in the CMS is stored as a String and the postcode is extracted using a regular expression. I tried to isolate that portion of code, to see if it works well, running tests on the addresses where the second part of the postcode was missing and I can confirm it worked well on. I need to understand the moment w

[2016-07-15 07:48] andreafalzetti commented on #2
I've updated the script replacing the previous postcode extraction part. I will run the script to see if the rejected properties get approved.

[2016-07-19 07:17] adrian-activate commented on #2
Good afternoon,
Just checked the back end of Zoopla and as you can see I think the problem is sorted. The 4 properties showing as rejected were errors here (which have now been rectified).

Obviously we will keep a check on things but I would like to thank you for getting things resolved.

Have a good weekend,

Kind regards

Doug

[2016-07-19 07:17] #2 closed, assigned to andreafalzetti

[2016-08-15 10:30] adrian-activate opened #4 "Property details in Zoopla not matching CMS"
The details of this property on Zoopla -

http://www.zoopla.co.uk/for-sale/details/41318409?search_identifier=fcea19771ae0ebc6043e01e6d99ca57f#mF0Vxu8s0LkZFFOA.97

do not match what is in the CMS -

http://www.heathgate.com/wp-admin/post.php?post=12385&action=edit

The property title does not match and the Zoopla listing is showing photos from a different property -

http://www.heathgate.com/wp-ad

[2016-08-17 11:05] adrian-activate commented on #4
@therealmyth there seems to be an issue with just this property as it is also causing an issue on -

https://www.onthemarket.com/details/3036168/

Here the images are missing.

[2016-08-17 14:57] therealmyth commented on #4
@adrian-activate

There was 2 issues with the script:

1 - Title: The title on zoopla is based on the address we pass to them. The address is derived from the address object returned by Google, which for thsi property was:

I added support for the premise and the title should reflect more what on the website.

2 - images: The script was getting the image list the wrong way. it was looking for post

[2016-08-18 09:22] adrian-activate commented on #4
@therealmyth all seems ok but the EPC and the floorplan seem to be missing now.

[2016-08-22 12:00] adrian-activate commented on #4
@therealmyth any news on this please?

[2016-08-22 12:31] fredturmel commented on #4
sorry Adrian I must have missed the notification for your update. I will have a look at it today

[2016-08-23 12:21] fredturmel commented on #4
@adrian-activate : I'm running the script right now, I think I found the issue, will confirm in a few hours when the portals are updated with the latest export.

[2016-08-23 13:20] fredturmel commented on #4
@adrian-activate : The floorplans and EPC reports are on the portals now.

[2016-08-23 13:21] #4 closed, assigned to therealmyth

[2016-08-23 14:56] adrian-activate commented on #4
Thanks Fred

[2016-10-31 14:27] adrian-activate opened #5 "Empty zip files being sent to Zoopla"
Hi Doug,

Just a quick update on the feed issue as well.

Having investigated this and checking the logs I have found that a .blm file has been uploaded to our servers by Activate media but those zip files are all empty. These are the ones that was uploaded yesterday.

37852016102803.zip|grep BLM
0 10-28-2016 12:14 37852016102803.BLM

I hope this helps, If you need any further information please l

[2016-10-31 14:35] adrian-activate opened #6 "Switching to Zoopla real time data feed"
@therealmyth can we get an idea of what we would need to do from our side to implement this?

[code]

[2016-10-31 15:09] adrian-activate commented on #6
@therealmyth Could we integrate https://wp-property-hive.com/ into what we have? It has plugins that support both blm exports and real-time datafeed. We could then replace the custom script. Just not sure if this would work with wp-casa.

[2016-10-31 17:09] Vivharris commented on #5
Any news re our issues today? We are unable to operate without the website working properly, Please can you attend to these issues asap. Thanks Viv

[2016-10-31 18:05] therealmyth commented on #6
I will look into this at the same time then the empty zip files.

[2016-11-01 00:20] therealmyth commented on #6
I have checked the link below, the plugin for the feed at £199 or the Portal BLM export at £149 is designed for Property Hive, which is the equivalent to WPCasa. It is not compatible with it to my knowlege and to use it, we would need to migrate the data from WPCasa to Property Hive.

[2016-11-01 00:28] therealmyth commented on #5
There was 2 issues with the feed:

1)  Google changed their API and are now limiting the number of anonymous request to the GeoCode API, which we uses to get proper address objects derived from the property names. I had to register an app with them and it fixed that issue. The free API is still limited to 2500 calls per day per app, so I had to modify the script a little to reduce the number of ca

[2016-11-01 00:28] #5 closed, assigned to therealmyth

[2016-11-01 00:30] #6 closed, assigned to therealmyth

[2016-11-01 09:29] Vivharris commented on #5
Thank you
V

T   020 7435 3344
M 07976 737172
E   vivharris@heathgate.co.ukmailto:vivharris@heathgate.co.uk
[cid:image011.png@01D20450.6B3DE940]

homehttp://www.heathgate.com/ | saleshttp://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2 | lettingshttp://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=2&

[2016-11-21 14:48] Vivharris opened #7 "Hi there Viv from Heathgate"
Hi All
Please see below the first two issues that we would like to address sooner rather than later. We would be grateful for your input with regard to these.

1 We would like to improve the PDF brochures produced by the site. They need to resemble the ones produced by our Vebra Software. Currently they are extremely poor. Not sure how to attach one of our existing brochures to show you so will e-

[2016-11-24 13:10] gregrice commented on #7
@Vivharris- to add the PDF just drag and drop it to the text box when posting.
Attach files by dragging & dropping,  Choose Files selecting them, or pasting from the clipboard.

@therealmyth- would you please have a look at Viv's two requests- hopefully the pdf will go up soon.

[2016-11-24 14:00] fredturmel commented on #7
No prob, will have a look on my lunchtime and in the evening today.  @Vivharris let me know when you will have uploaded the demo PDF file.

[2016-11-24 18:21] Vivharris commented on #7
Please see attached the brochure we currently use for properties. Thanks Viv
[Property details.pdf](https://github.com/ActivateMedia/heathgate/files/611973/Property.details.pdf)

[2016-11-24 18:21] Vivharris commented on #7
Please see attached the current brochure style we use for properties.
[Property details.pdf](https://github.com/ActivateMedia/heathgate/files/611975/Property.details.pdf)

[2016-12-02 17:36] Vivharris commented on #7
Hi Guys,
Hope you are well.
We would also like to be able to prevent a newly added property from appearing in the latest instructions feature window screen on the home page of the our website. This would mean that any property with poor photos can be removed from that screen but still appear on the site and be uploaded to the other portals.
Is that possible?
Have a good weekend.
Thanks,
Viv

T   0

[2016-12-02 17:47] gregrice opened #8 "Do not feature in "Latest instuctions""
Hi Guys,
Hope you are well.
We would also like to be able to prevent a newly added property from appearing in the latest instructions feature window screen on the home page of the our website. This would mean that any property with poor photos can be removed from that screen but still appear on the site and be uploaded to the other portals.
Is that possible?
Have a good weekend.
Thanks,
Viv

[2016-12-04 20:22] therealmyth commented on #7
I improved the PDF brochure to look more like the provided example. Please let me know if you are happy with it, I've tested a few property and it looks much better now.

[2016-12-04 20:35] therealmyth commented on #7
for the EPC and floorplan appearing on the rolling photo screens at the top of the page, would you have a current example on the site at the moment?

[2016-12-05 11:13] Vivharris opened #9 "Postcodes"
Sometimes when we put in a postcode when loading a property (say NW3 6SS) we find that it changes to just NW3 and then won't load onto the other portals. Can you please investigate this for us. Thanks V

[2016-12-05 11:14] Vivharris opened #10 "Web optimisation"
It may be that this is already done but is there a way to optimise our site for the search engines so we get picked up more easily and faster? Thanks V

[2016-12-05 11:31] Vivharris commented on #7
Not at the moment because we have to trash the property and then start again.
If you want to make it happen you can try reloading something we already have on site and it should create the issue.
If not we will send over the pictures when it happens again.
V

T   020 7435 3344
M 07976 737172
E   vivharris@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<

[2016-12-05 14:47] therealmyth commented on #7
Hi Viv,

Is this happening when you create a property from scratch or when you copy one?

f

From: Vivharris [mailto:notifications@github.com]
Sent: December 5, 2016 6:32 AM
To: ActivateMedia/heathgate
Cc: therealmyth; Assign
Subject: Re: [ActivateMedia/heathgate] Hi there Viv from Heathgate (#7)

Not at the moment because we have to trash the property and then start again.
If you want to make it

[2016-12-05 14:53] Vivharris commented on #7
both

Vivienne Harris

T   020 7435 3344
M 07976 737172
E   vivharris@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?option=com_iproperty&view=l

[2016-12-06 00:39] #8 closed, assigned to therealmyth

[2016-12-06 00:39] therealmyth commented on #7
Hi Viv,

I modified the section for exporting properties to include an option to allow you to prevent properties to be featured on the home page. The Export section is now labeled "Misc. settings". It still has the option for exporting the property to 3rd party portals (Include in daily export) and I added a checkbox labeled: "Do not feature this property on the frontpage." which does pretty much

[2016-12-12 18:17] Vivharris opened #11 "Real time"
Hi Guys
Is there a way that we can send data to the portals in real time?
If so what will it involve or is there a simple resolution?
Best
Viv

[2016-12-12 18:18] Vivharris opened #12 "Uploading to sites"
Another question.
Is there a way that we can upload to one portal (other than our own) and not another?
Thanks
V

[2016-12-12 18:23] Vivharris opened #13 "Changes to information on the site"
Hi again
Another query. When we load the accommodation from the right hand side of the WPCasa site it changes the data into alphabetical order. We would prefer if it could do bedrooms, bathrooms, reception rooms, kitchen etc etc so that it shows in same order that it is filled out. For us this could then be order of importance for buyers/tenants.
Can this please be adjusted?
Thanks
Viv

[2016-12-12 18:40] Vivharris opened #14 "£ signs not showing in text"
Last one for today.
It seems that £ signs are not showing on either Zoopla or OntheMarket.
As we are required to have details of monthly rent amounts and fees it would be good if this could be corrected asap.
It looks a bit naff currently.
Thanks
V

[2016-12-13 11:10] dougmheathgate opened #15 "Bullet poits on upload to Zoopla"
It would appear that the bullet points for properties are only sending 3 (out of a possible 10) it seems to be that the bullet points are sent as "feature 1", "feature 2" etc and as I stated three are only 3 which are randomly selected. Can we resolve this so that up to 10 are sent please?

[2016-12-13 11:29] dougmheathgate commented on #15
I have spoken to OnThe Market too just now and we have the exact same issue so it IS the data we send

[2016-12-14 12:17] therealmyth commented on #9
Hi Viv,

I will investigate the issue and come back to you. Excuse the delay in my response, I wasn't set to receive notification on this channel, which I changed for now on.

Regards,

f

[2016-12-14 12:26] therealmyth commented on #11
I know Zoopla has a real time feed, and Doug asked for a quote on implementing this (see issue #6 ). It would take around 2-3 days to implement and test, and Zoopla requires 7 days of error free feed before they approve it to go live.

[2016-12-14 12:28] therealmyth commented on #12
At the moment we can enable/disable portals site wide, but not on a property basis, this would require some changes to the admin interface and the  exporting script. We could probably do this at the same time than the real time feed if you plan to go ahead with this. I would think 2-3 hours should be enough to implement.

[2016-12-14 12:30] therealmyth commented on #14
Will investigate and fix, I've been contacted by Zoopla this AM with more debugging info on this. Will come back to you when done

[2016-12-14 12:31] therealmyth commented on #15
Will check at the same time than the pound sign issue.

[2016-12-14 14:39] Vivharris commented on #12
Perhaps you can let me know if the real time feed would now form part of our monthly package.
Thanks
V

T   020 7435 3344
M 07976 737172
E   vivharris@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&It

[2016-12-16 16:08] therealmyth commented on #12
Hi Viv,

Your support contract include 24h per quarter, and there's 5 gone already. The real time feed would take from 16 to 24 hours to implement, so it may deplete you hours and even go over with this one job. So I would probably do it as a separate job if I was you.

regards,

f

[2017-01-26 12:54] Vivharris opened #16 "Testimonials on the website"
Please can someone have a look there are the top 2 testimonials that appear differently than the remainder. I have tried to work out what to do but cannot seem to get it right,
We used to be able to amend this page ourselves and wondered if this function has been removed.
It looks somewhat untidy at present so would be grateful for a rapid response.
Thanks Viv

[2017-01-26 15:44] therealmyth commented on #16
This has been fixed, there was a few other issues with a some of the other testimonials which has been fixed as well.

[2017-01-26 15:44] #16 closed, assigned to therealmyth

[2017-01-26 15:45] Vivharris commented on #16
Thank you
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?option=com_ip

[2017-02-07 10:03] Vivharris opened #17 "Web Optimisation"
Good morning,
Hope you are well.
I was wondering whether there is a way to get better web optimisation and whether we need to change any wording for to create more key words etc.  If there is a way to do this please let me know or you have any ideas in this regard I would be grateful to hear them.
We are looking to see how we can get further up the Google ratings.
Thanks
Viv

[2017-02-07 12:28] gregrice commented on #17
HI Viv,

These days it is pretty much about content more than anything else. I don't think potential clients search for agents- but more for types of properties in certain locations. The other factor is inbound links from relevant sites.

The single biggest improvement in my mind would be to put some really targeted copy on the top part your home page. probably under the large photo and above the

[2017-03-13 16:04] Vivharris opened #18 "Heathgate upload to websites in real time"
Hi Greg and Fred
I hope that you are well.
We have previously looked at arranging real time uploads to the other websites and wondered if this is possible, As we have some unused hours is this something we can do to utilise the spare time? We have spoken to Zoopla and Agents Mutual and they can send over the various codes etc that you may need.
Best
Viv

[2017-03-14 14:34] therealmyth commented on #18
Hi Viv,

I started the development on the live feed, and will continue on it this
week, hoping to have a test case by the end of the week. Then, Zoopla
require 7 day of working feed without error, after which they will
switch over from the FTP upload to the new live feed.

I will let you know when we are ready for the testing phase,

Regards,

Fred

------ Original Message ------
From: "Vivharris"

[2017-03-14 15:07] Vivharris commented on #18
Thanks for this.
We will also need to sort out Agents Mutual too.
Best
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid

[2017-03-31 13:01] Vivharris opened #19 "Maximising HG Website"
Hi
Hope all good with you.
I have just read the article below and wonder what we can do (if anything) to implement any of the points raised.
Please have a read and see what you think.
The author is a former head of SEO at Zoopla, Mail Online and Yell. He is founder of Blue Array, an SEO agency that specialises in large-scale SEO
Thanks
Viv x

**Opinion: Why do agents neglect their own websites in

[2017-05-11 19:27] gregrice opened #20 "site very slow"
please check as soon as possible

[2017-05-19 12:04] Vivharris opened #21 "A few more issues to resolve"
Hi Greg and Fred
Hope you are both well.
1 On the back end. When you type in the accommodation such as 2 bedrooms etc (on the right hand side of the screen) it does not appear as it is written and changed capital letters to lower case which looks really unprofessional on the site. Please can this be corrected. It also moves things into alphabetical order and it would be better if this could also b

[2017-05-23 14:59] Vivharris opened #22 "Various issues Please see attached"
Hi Greg and Fred
Hope you are both well.
1 On the back end. When you type in the accommodation such as 2 bedrooms etc (on the right hand side of the screen) it does not appear as it is written and changed capital letters to lower case which looks really unprofessional on the site. Please can this be corrected. It also moves things into alphabetical order and it would be better if this could also b

[2017-05-23 22:45] fredturmel commented on #22
Hi Viv,

1. I can't seem to replicate the issue you are describing, could you be more specific as to where you are entering the accommodation (page and field) ?

2. This is usually due to a property description not matching the presets in the export script. the available values are (without the quotes): "Ambassadorial style", "Bungalow", "Brand new penthouse", "Chalet Bungalow", "Conversion", "Con

[2017-05-24 00:34] fredturmel commented on #22
Hi Viv,

I have requested a certificate to Zoopla for when we are ready to switch the live feed on. They should contact you shortly and provided me with a token they will ask to confirm you are aware of the request, it is : DBNO-TNYK-MUMG

[2017-05-24 09:58] Vivharris opened #23 "Front and back end areas for amendment please"
Hi Fred,
This are the boxes back end and front end of web. Can we have them arranged non alphabetically, just in the order in which they are typed please?
![back of web](https://cloud.githubusercontent.com/assets/23172418/26397813/6f0344ec-406f-11e7-8592-ce7c9c543e8c.JPG)
and
![front of web](https://cloud.githubusercontent.com/assets/23172418/26397845/857b6ef2-406f-11e7-8ef4-d1204bdc6779.JPG)
Than

[2017-06-01 08:48] Vivharris opened #24 "Web chat"
Morning,
Hope you are well.
Is there a way that I can add Web Chat to my website? Seems to be the way the other agents are going and it could be a useful tool?
Thanks
Viv

[2017-06-01 09:21] andreafalzetti commented on #24
There is ClickDesk, which is a product that does this very well, check it out:

https://www.clickdesk.com/clickdesk-confirm?utm_source=powered-by&utm_medium=widget&utm_campaign=www-you-go-it&utm_me=3wLWhn

If you like it, it's very easy for us to integrate

[2017-06-01 09:47] Vivharris commented on #24
Thanks Andreas.
I have just gone online and web chatted with someone.
I can go on free forever so I think it would be good to add this to our site but we will need to customise the chat box to look more like our graphics. Is that possible at your end or will you need our graphics people to send something over?
What do you think is the best way forward?
Best
Viv

T      020 7435 3344
DDI  020 7096

[2017-06-02 14:36] Vivharris opened #25 "Losing properties from website"
Hi All,
Not sure if you can shed any light but we appear to have a number of letting properties that have disappeared from our website. This is a problem as we rely on the properties remaining live until we remove them, I have clients complaining that their properties cannot be seen, we are losing loads of business because we are not getting the enquiries and my administrator is having a nervous b

[2017-06-06 15:13] andreafalzetti commented on #25
Hi @therealmyth, have you had the chance to look into this?

[2017-06-21 01:06] therealmyth commented on #18
Hi Viv,

I am getting an error with the real time feed to Zoopla. I have contacted them with the details and will work with them to fix the issue. I hope it will not impact the 7 days error free target as is seems to be a server error. Will let you know when I hear from them.

Regards,

f

[2017-06-22 16:45] #7 closed, assigned to therealmyth

[2017-06-22 16:48] therealmyth commented on #9
Could not replicate the issue locally, if you notice the issue again, please let me know the exact property having the problem along with the correct postcode that should appear so I can test. It maybe caused by the google API, to which we pass the address to extract it's components.

[2017-06-22 16:48] #9 closed, assigned to therealmyth

[2017-06-22 16:50] #20 closed, assigned to therealmyth, gianpaolom

[2017-06-22 16:51] therealmyth commented on #11
Closing: Duplicate #18

[2017-06-22 16:51] #11 closed, assigned to therealmyth

[2017-06-22 16:51] #12 closed, assigned to therealmyth

[2017-06-22 16:57] #13 closed, assigned to nobody

[2017-06-23 01:25] therealmyth commented on #15
I think that when we initially develop the site and the export script, Rightmove didn't allow for more than 3 features. I updated the export script now and the feed should now include up to 10 features.

[2017-06-23 01:25] #15 closed, assigned to therealmyth

[2017-06-23 01:30] therealmyth commented on #14
I had a look today, and this seems to happen during the encoding of the file. This is the 2nd encoding function already, and both had their issues. I have tested some other way without any luck so far, I will continue and update you.

[2017-06-23 01:33] therealmyth commented on #17
I guess that sums it up, from my limited understanding of the search engines, the more link pointing to your site, the more weight you get in the search results. The targeted copy usually makes it, as other site will usually point to you as a reference. But my knowledge is very limited on this issue.

[2017-06-23 01:35] therealmyth commented on #19
Closing, let's make issue #17 the SEO ideas ticket.

[2017-06-23 01:35] #19 closed, assigned to gregrice, therealmyth

[2017-06-23 01:39] therealmyth commented on #21
Duplicate: #22

[2017-06-23 01:39] #21 closed, assigned to gregrice, therealmyth

[2017-06-23 17:19] Vivharris opened #26 "Web Chat/Online Valuation Tool"
Hi All,
Hope you are well.
I am looking at installing a web chat facility and an online Valuation tool onto the home page of the website. Is this possible and what do you need from me in order to make this happen.
Thanks
Viv

[2017-06-23 17:51] therealmyth commented on #26
Hi Viv,

I know you are happy with the chat tool Andrea pointed you to, so I will have a look to install it this weekend. I will let you know if I need any graphics from you but I should be fine with what we have so far to style the plugin.

As for the valuation tool, do you want a form to request a valuation? or are you thinking about something more specific?

f

[2017-06-23 17:52] therealmyth commented on #24
Will now use ticket #26 for the webchat discussion and updates

[2017-06-23 17:52] #24 closed, assigned to andreafalzetti, gregrice, therealmyth

[2017-06-23 18:30] Vivharris commented on #26
Yes will be in touch on Monday re this.
Thanks and have a great weekend.
Viv

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 23 Jun 2017, at 18:51, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Viv,

I know you are happy with the ch

[2017-06-26 00:56] therealmyth commented on #26
Hi Viv, just sent you an email with a screenshot for the web chat, please let me have you thought  when you can.

f

[2017-06-26 16:19] therealmyth commented on #26
Hi Viv,

I created your account, you should receive an activation link to your email, please let me know when you had a chance to do the activation.

f

[2017-06-26 16:20] Vivharris commented on #26
Is that click desk?

Vivienne Harris

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.co

[2017-06-26 16:21] therealmyth commented on #26
Yes

------ Original Message ------
From: "Vivharris" <notifications@github.com>
To: "ActivateMedia/heathgate" <heathgate@noreply.github.com>
Cc: "therealmyth" <frederic@activatemedia.co.uk>; "Assign"
<assign@noreply.github.com>
Sent: 2017-06-26 12:20:27 PM
Subject: Re: [ActivateMedia/heathgate] Web Chat/Online Valuation Tool
(#26)

[2017-06-26 16:25] Vivharris commented on #26
1.
2.        <script type='text/javascript'>
3.        var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyEgsSBXVzZXJzGICAoMWM4dIJDA');
4.        var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
5.        'http://my.clickdesk.com/clickdesk-ui/browser/');
6.        var glcp = (('https:' == document.location.protocol) ? 'https://'

[2017-06-26 16:38] therealmyth commented on #26
Thanks,

The account is now completed, I also added the code to he site so the chat/contact window should now be showing up. There are 2 admin section: Admin Dashboard and Agent Portal. The admin dashboard lets you define the settings for the chat window, and the Agent Portal is where you can handle the live chats.

The Admin dashboard URL: https://my.clickdesk.com/
The Agent portal URL: https://5

[2017-06-26 16:40] Vivharris commented on #26
Thank you Fred. Much appreciated.
Will revert re the valuation tool.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2>

[2017-06-27 18:01] Vivharris opened #27 "Problems with back end of of website. Urgent"
Hi Fred
Hope all is good today.
It seems that we have been locked out of the back end of our website.
None of us have access to upload or amend.
Our user name is Heathgate and PW activatemedia  but nothing is working.
Please can you rectify this as I have properties to load and am unable to do so.
Thanks
Viv

[2017-06-27 18:02] Vivharris commented on #27
Hi Fred
Hope all is good today.
It seems that we have been locked out of the back end of our website.
None of us have access to upload or amend.
Our user name is Heathgate and PW activatemedia but nothing is working.
Please can you rectify this as I have properties to load and am unable to do so.
Thanks
Viv

[2017-06-27 18:03] therealmyth commented on #27
looking into it

[2017-06-27 18:05] Vivharris commented on #27
Thanks
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?option=com_iprop

[2017-06-27 18:16] therealmyth commented on #27
Hi Viv,

It should be fine now, but you may have to close all your browser windows to clear the cached redirection.

This happened because Wordpress requires a hard coded site URL, which is heathgate.com. When I installed Click desk yesterday, I had to force the .com to redirect to the .co.uk as it support only 1 domain. I changed the redirection the other way around and will update Click desk to

[2017-06-27 18:16] #27 closed, assigned to gregrice, therealmyth

[2017-06-28 08:21] Vivharris commented on #27
Thanks. Working now.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?op

[2017-06-28 11:29] Vivharris opened #28 "URGENT"
Hi Guys
Urgent please. The front end of our website is not displaying properly, so no pictures for most of the properties.
Have also just added a new property that is not showing on the front.
Please can you investigate -  urgent urgent!
Thanks
Viv

[2017-06-28 11:46] Vivharris opened #29 "Front of web page"
Please see attached what we see on screen
![web 1](https://user-images.githubusercontent.com/23172418/27635654-c6c3c6ba-5bff-11e7-83f7-d7d28771fd9e.JPG)
![web 2](https://user-images.githubusercontent.com/23172418/27635657-ccdb8196-5bff-11e7-9378-07536758601b.JPG)

[2017-06-28 11:46] gregrice commented on #28
@andreafalzetti- can you have a quick look- they are going to put up a screen grab for us

[2017-06-28 12:17] andreafalzetti commented on #29
Duplicated of #28

[2017-06-28 12:17] #29 closed, assigned to andreafalzetti, gregrice, therealmyth

[2017-06-28 12:19] andreafalzetti commented on #28
Hi @Vivharris,

Both Greg and I can see the property you are referring to, from 2 different computers.

I don't see any technical issue on the site. Can you try again and ideally from a different computer or refreshing the browser cache?

Thanks,
Andrea

![screen shot 2017-06-28 at 13 17 10](https://user-images.githubusercontent.com/2318450/27636648-5ef8b81a-5c04-11e7-82bf-3da131c6a78d.jpg)

[2017-06-28 12:21] gregrice commented on #28
I have checked it on two different computers- both high res- both on Chrome- all fine

[2017-06-28 12:25] Vivharris commented on #28
Still not showing here. Have removed history.

[2017-06-28 12:28] gregrice commented on #28
not history- go to "more tools" then select clear browsing data. I have checked it on a couple different browsers now and is how it should be

[2017-06-28 12:34] Vivharris commented on #28
Thanks. All back on. Sorry to drive you mad.

[2017-06-28 12:36] #28 closed, assigned to andreafalzetti, gregrice, therealmyth

[2017-06-28 13:29] gregrice commented on #26
@Vivharris- I am going to close this for now- please start a new issue when you are ready to go with the Valuation tool.

[2017-06-28 13:29] #26 closed, assigned to gregrice, therealmyth

[2017-06-28 13:30] #3 closed, assigned to andreafalzetti

[2017-06-28 14:29] Vivharris commented on #26
Have asked Steve from Nethouseprices.com to contact Fred and given him Fred's e-mail. Do I need to do anything else?

[2017-06-28 17:19] Vivharris opened #30 "Web Chat"
I keep getting e-mails saying I've exceeded the limit. See below. it may be nothing but thought you should see it. We don't have heathgate,dev so unsure what this is all about.
Thanks Viv

Dear Heathgate Properties,

We see that you have already using ClickDesk live chat script on heathgate.com.

Also we noticed that you are trying to use ClickDesk live chat script on http://heathgate.dev but your

[2017-06-28 17:21] therealmyth commented on #30
Hi Viv,

Sorry about that, the code was still running on my development branch. I removed it now and you should stop receiving these emails.

Fred

[2017-06-28 17:21] #30 closed, assigned to therealmyth

[2017-06-28 17:23] Vivharris commented on #30
No worries. Thanks for letting me know.

[2017-06-30 09:26] Vivharris opened #31 "Valuation tool for the website"
Morning Fred and Greg,
Please see below the codes you will need in order to embed the tool into our website.

Many thanks for your email. Here is the code for the Heathgate AVM to have embedded in your website to activate:

<iframe style="width: 100%; height: 1200px; border: none;" scrolling="yes" src="https://nethouseprices.com/widget/sold-prices/?id=A52332E3B025D1"></iframe>

<iframe style="widt

[2017-06-30 12:12] therealmyth commented on #31
thanks Viv, will do later today

Fred

[2017-07-03 19:07] therealmyth commented on #23
This now shows in the order they were added

[2017-07-03 19:07] #23 closed, assigned to gregrice, therealmyth

[2017-07-03 19:34] therealmyth opened #32 "Heathgate site and plugins update"
I am planning a wordpress and plugins update on 2017.07.04 between 11pm - 12am UK time. There shouldn't be any noticeable downtime.

Fred

[2017-07-04 15:11] Vivharris opened #33 "New LBC radio interview to insert into website"
Hi Fred and Greg,
Please see the hyperlink below to add into the website, it is my newest radio interview with LBC as their property expert. I found the previous ones on our website under 'December 7, 2015' in Press - [Edit]. Can I have, under the 'press' button,  maybe a heading something like see and hear Vivienne Harris on the radio and TV? Then we can put them all together in their own section

[2017-07-04 16:10] therealmyth commented on #33
Hi Viv,

No problem, will add a sub menu and add the tv/radio content to it, this should be done this evening.

Fred

[2017-07-04 16:26] Vivharris commented on #33
Perfect thanks
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?option=c

[2017-07-04 23:48] therealmyth commented on #33
I've added the embed video to a new post, and created a new category and menu item under Press as discussed. I've added the other other post I found to the newly created category. If you still want the audio/video content to appear in the Press section, just assign the Press category to it again.

Right now the new post only contains the video, but might be a good idea to add a description to the

[2017-07-04 23:48] #33 closed, assigned to nobody

[2017-07-05 01:17] therealmyth commented on #32
The plugins have all been updated to the latest except for the pdf brochure plugin which we modified. This will need further work to merge the changes to the new version. WPCasa hasn't been updated either as I am not sure if we modified its core, will require some testing. And finally, the wordpress upate broke the wpcasa theme, so I reverted to the previous version. My guess is that it will updat

[2017-07-05 08:31] Vivharris commented on #33
What do you recommend as a title for all the media PR?
How about Radio/TV Comment? Or Company radio/TV press? Any ideas? All welcome.
Best
Viv
T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&vi

[2017-07-05 12:15] therealmyth commented on #33
I guess "TV and Radio Appearances" or "TV and Radio Comments", whichever you prefer.

[2017-07-05 12:17] Vivharris commented on #33
Let’s go with TV and Radio Appearances.
I have now out a bit of blurb with the link so people can see what it’s all about.
V ☺

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&st

[2017-07-05 12:29] therealmyth commented on #33
Ok I changed the title of the category.

Reagrds,

f

[2017-07-05 16:42] therealmyth commented on #18
Just a quick update on the status of that, I managed to work out the issue with Zoopla team last week, they will provide some feedback on the data tomorrow. The latest changes seems to have stabilized the issues I was ahving so let's hope this is the last leg now. Will keep you posted.

[2017-07-05 16:51] therealmyth commented on #31
Just adding the below for reference, Viv have you had any thoughts on the position of the button?:

Hi Viv, 

There's no pretty way to stack the 2 tools with the chat free version, as I can't change the css/styles generated. I can build a similar button on the left hand side, or at the top right... let me know what you think

Fred

------ Original Message ------
From: "Frederic Turmel" <frederic.t

[2017-07-05 16:57] Vivharris commented on #18
Thanks for the update.
Re the Press area of the Home Page when you hit the press button it looks as though there are only the tv and radio interviews is there a way we can do a drop down menu?

Button for instant valuation – we think it should be symmetrical with the online chat button to the bottom left of the screen – can we make it look similar so that when you visit the home page it keeps it c

[2017-07-05 17:03] therealmyth commented on #18
I added a Press sub menu item under Press, that should make it clearer.

No problem for the button, will make it look very similar. I should be able to implement this tomorrow

Fred

[2017-07-05 17:04] therealmyth commented on #31
For reference, pls ignore:

Button for instant valuation – we think it should be symmetrical with the online chat button to the bottom left of the screen – can we make it look similar so that when you visit the home page it keeps it clean and symmetrical.
Can we make it look similar too for phones/tablets etc.

[2017-07-10 12:10] therealmyth commented on #18
Hi Viv,

You may notice a warning when saving some property on the site, I am aware of the issue and will fix today. This only affect the live feed, ad has some thing to do with some of the postcodes returned by the google API. The bulk upload is still working as it's supposed to.

Fred

[2017-07-10 12:11] Vivharris commented on #18
Thanks for the update.

Vivienne Harris

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate

[2017-07-10 13:57] Vivharris commented on #18
Hi Fred,
Hope is all good today.
I just received an e-mail from the valuation tool company and it reminded me to remind you!!
Best Viv

Good afternoon Viv

I'm just emailing to check all is OK with the AVM codes I sent you, as I notice it's not live on your website.

If you or your web designers need any assistance, please get in touch.

Regards

Luise

Many thanks for your email. Here is the code

[2017-07-10 17:48] therealmyth commented on #18
Hi Viv,

I fixed the issue with the postal code on the live feed. Comparing what is received on the live feed and the bulk one, there's a few discrepancies, for example, Harmood Grove, London NW1 for sale (525k) is present on the live feed, but not on the bulk when looking at zoopla, it is ticked to be exported, so I'm assuming the bulk is wrong?

Fred

[2017-07-10 18:12] Vivharris commented on #18
It shouldn’t be ticked as it has been sold. That may be why it has not uploaded.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=

[2017-07-11 00:16] therealmyth commented on #18
OK that makes sense,

They are showing in the live feed as sold/let, and probably hidden from normal listing. I have 103 on the live feed right now, including 16 that are sold or let, that leaves me with 87 and the bulk feed has 86, will need to go through the list and see which one is extra and see why it got exported.

I will be working tomorrow on it and on the valuation tool and will keep you

[2017-07-11 07:10] Vivharris commented on #18
Thank you 😊

Vivienne Harris

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 11 Jul 2017, at 01:17, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

OK that makes sense,

They are showing in the live feed as sold/let, and probably hidden

[2017-07-11 18:05] therealmyth commented on #18
Hi Viv,

The feeds seems to be in sync now, I should hear from Zoopla on Thursday and hopefully this should match perfectly so we can go live with the feed.

Meanwhile, when adding/editing/removing properties, you can check that the changes happens on the live feed as well by going at : https://realtime-listings.webservices.zpg.co.uk/preview/branch/1495617829679820/3785

Please let me know if you

[2017-07-12 00:06] therealmyth commented on #31
Hi Viv,

This has been added to the home page now, on the left hand side of the page. I also made it mobile/tablet friendly. Let me know if anything.

Fred

[2017-07-12 00:06] #31 closed, assigned to gregrice, therealmyth

[2017-07-12 00:19] therealmyth commented on #25
Hi @Vivharris

Is this still happening? or was it a one off.

[2017-07-12 00:19] #17 closed, assigned to gregrice, therealmyth

[2017-07-12 00:20] #10 closed, assigned to nobody

[2017-07-12 08:37] Vivharris commented on #31
Hi Fred
I can’t see the online valuation tool.
It doesn’t seem to show on my home page.
Best
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low

[2017-07-12 08:37] Vivharris commented on #25
Seems ok currently

Vivienne Harris

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com

[2017-07-12 08:44] Vivharris commented on #18
Thanks

Vivienne Harris

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?o

[2017-07-12 12:19] therealmyth commented on #31
Hi Viv,

You may have to clear your browser's cache, as I had to add some styling to the css which are require for it to work.

Fred

[2017-07-12 16:20] therealmyth commented on #25
Ok closing for now,

Please raise another ticket if that was to happen again, we can investigate the logins/server activity then.

Fred

[2017-07-12 16:20] #25 closed, assigned to andreafalzetti, gregrice, therealmyth

[2017-07-13 15:01] Vivharris commented on #31
Hi Fred
Is the live feed running yet as we are finding that it is not working?
Please can you investigate. We loaded Sheldon Avenue this morning and reloaded Fitzjohns Avenue at £685 per week just now but we can’t see them on the live link.
Please let me know when you can.
Thanks
Viv
T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.c

[2017-07-13 19:07] therealmyth commented on #18
Hi Viv,

Both properties you mentioned in your email are live on the live feed preview:

https://realtime-listings.webservices.zpg.co.uk/preview/listing/1495617829679820/VEB006213-002-20598
https://realtime-listings.webservices.zpg.co.uk/preview/listing/1495617829679820/VEB003290-003-20612

I am still waiting for Zoopla approval to go live, so the feed to the live sites are still done by bulk. The

[2017-07-14 11:36] Vivharris commented on #18
Fred
Fitzjohns Avenue at £1,049,000 and £650 for lettings is not showing on front end Zoopla.
Looks as though there is a feed problem. Urgent – please investigate.
Thanks
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/

[2017-07-14 12:46] therealmyth opened #34 "Fitzjohn's Avenue not showing on Zoopla"
Hi Viv,

I'm looking at it and will come back to you.

Fred

[2017-07-14 14:09] therealmyth commented on #34
Hi Viv,

After investigation, the issue was with the property type (Conversion Flat) not being supported. I changed the export script to default to Flat when a property type is not recognized. The live script already has that functionality. I ran the export manually and the property should appear on the portals shortly.

Fred

[2017-07-17 15:58] Vivharris commented on #18
Still not showing on zoopla.  Urgent needs attention please

Vivienne Harris

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 13 Jul 2017, at 20:08, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Viv,

Both properties you mentioned in

[2017-07-18 12:00] therealmyth commented on #34
Hi Viv,

I was away this weekend and yesterday, I will look into it today.

Fred

[2017-07-18 17:17] therealmyth commented on #34
Hi Viv,

The sales one seems to be fine:  https://www.zoopla.co.uk/for-sale/details/44060691

I had a look at the rental, and the address for the property was "25 Fitzjohn's Ave, London NW3, 5NB", I changed to "25 Fitzjohn's Ave, London, NW3 5NB" and relaunch the export manually,  I think the comma in the middle of the postcode was the issue for that one. The script takes a bit to run, will monito

[2017-07-18 19:51] therealmyth commented on #34
Hi Viv, it looks like it fixed the issue: https://www.zoopla.co.uk/to-rent/details/44442851

It may be a good idea in the near future to change the back-end to let you enter each address components separately, with format validation on each to avoid these errors.

Most of the time the error is due to an incomplete postcode, which is reported straight away on the live feed but takes a while on the

[2017-07-18 19:51] #34 closed, assigned to nobody

[2017-07-19 14:27] therealmyth commented on #18
Hi Viv,

I got an answer from zoopla, the errors with the address on the bulk feed has caused some issue on the live feed as well, and they suggested a few small changes, which I will do tomorrow when I'm back in the office.

Will updated you when done.

f

[2017-07-19 15:36] Vivharris commented on #18
Thanks but URGENT without portals we are drowning
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://w

[2017-07-21 10:19] Vivharris commented on #18
Hi Fred
Any news re the feeds??
Thanks
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathg

[2017-07-21 12:44] therealmyth commented on #18
Hi Viv,

I fixed another series of issues yesterday, which is mostly handling conversions between their feed and the website data. One thing that came up is that we do not have a field to specify if a property comes furnished or not, and people use that field for their search on their portal; That something we may add at a later time to help you listings.

I am in contact with them on a daily basi

[2017-07-21 12:46] Vivharris commented on #18
Are we uploading though – can you confirm that all our properties are showing?
Yes please amend the furnished/unfurnished problem.
Thanks for all your help.
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?opti

[2017-07-21 12:49] therealmyth commented on #18
Hi Viv,

Yes the bulk feed is still the source of what is showing on the portals, and this issue we had I fixed as a priority, What I'm talking about here is about the real time one, which require a bit more time for the 7 days error free dry run.

Fred

[2017-07-21 12:52] Vivharris commented on #18
Understand, just trying to ensure that we have properties uploading otherwise I’m dead in the water.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&pri

[2017-07-21 17:53] therealmyth opened #35 "Add furnished/unfurnished selector"
Add a furnished/unfurnished selector in the back-end that will be exported to the portals.

[2017-07-22 12:39] Vivharris commented on #18
Hi Fred
Fitzjohns ave at £1.049m not showing on web. Also valuation tool is not showing on mobile device.
Thanks

Viv

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 21 Jul 2017, at 13:50, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

[2017-07-24 17:51] Vivharris commented on #18
Any news re uploading. Fred ?
Fitzjohns Avenue at £1,049m is missing so other probably missing too.
Please may I have an update – this is really a problem for me.
Thanks
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/i

[2017-07-24 18:23] therealmyth commented on #18
Hi Viv,

Which property are you talking about? none of the Fitzjohn Ave are at that price in the backend...

f

[2017-07-24 18:39] Vivharris commented on #18
Maybe at £1,099m

Vivienne Harris

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 24 Jul 2017, at 19:23, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Viv,

Which property are you talking about? none of the Fitzjohn Ave are at that

[2017-07-25 12:10] therealmyth commented on #18
Hi Viv,

I can see it now, seems to have been published 3h ago. It's exporting at the moment of writing this, so will check it's being included in the export and if it's not present, I will contact zoopla on that.

f

[2017-07-25 12:30] Vivharris commented on #18
Thanks Fred.
Mysteriously it seems to have disappeared. I reloaded it today so that’s why it’s now looking ok.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&b

[2017-07-25 16:20] therealmyth commented on #18
I checked on zoopla and it is there now, please let me know if anything.

Fred

[2017-07-25 16:32] Vivharris commented on #18
Will do. Thanks.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgate.com/index.php?option

[2017-07-25 17:50] therealmyth commented on #18
FYI:

Hi Tirrish, 

Thanks for your feedbacks, I have updated all the properties in the sandbox from the live site, so the property type should be correct for all the properties now and every properties should have a display address. For the link to the under offer property, it has been removed as it's now in sync with the life data, but it has been tested and It shows up properly in the preview. 

[2017-07-25 23:44] therealmyth commented on #35
Hi Viv,

I've added a new option in Misc Settings (with the export option) to set the property furnished state. This option only affect the live feed. I suggest you go through your rental and set the option to show Zoopla we can support the option.

Please let me know if anything

Fred

[2017-07-27 16:25] therealmyth commented on #18
FYI:

Hi Tirrish, 

Thank you for your feedback.

I was aware of the error below yes, and this was fixed and some validation added. I also managed to find a schema validation library that works, and it was implemented today so the schema errors should be a thing of the past. Looking forward to hear from you.

Fred

------ Original Message ------
From: "Tirrish Caleechurn" <realtimefeeds@zoopla.co.

[2017-07-27 18:32] therealmyth commented on #35
Hi Viv,

Not sure if you got this, can you confirm when you have a sec that you can set the furnishing state for your rental on the site?

Let me know if there's any issue.

F

[2017-07-28 08:30] Vivharris commented on #35
If you are asking whether I now have a pull down menu then yes.
Best
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2

[2017-08-01 13:37] therealmyth commented on #18
FYI:

Hi Tirrish, 

I will submit one property of each later today, and yes let's go the the 7 days dry run then after; I will let you know when this is done. 

Best regards, 

Fred

------ Original Message ------
From: "Tirrish Caleechurn" <realtimefeeds@zoopla.co.uk>
To: "frederic@activate.co.uk" <frederic@activate.co.uk>
Sent: 2017-08-01 6:32:51 AM
Subject: RE: Re[16]: Heathgate Property Realti

[2017-08-01 13:40] therealmyth commented on #14
This will be fixed by the real time feed, I cannot find an encoding function that can handle all the special characters properly.  When the pound signs works, other character are missing, and vise versa. Since the text now uses GBP instead of the symbol, I'm closing this one.

[2017-08-01 13:40] #14 closed, assigned to therealmyth

[2017-08-01 13:42] therealmyth commented on #35
Ok,

Tirrsh seems to say it will help the search for your rental properties, so it's recommended to set this option for every rentals.

Fred

[2017-08-01 13:42] #35 closed, assigned to therealmyth, Vivharris

[2017-08-01 17:09] therealmyth commented on #18
FYI:

Hello Tirrish, 

I've added a few properties from a test instance with different life_cycle_status: 

https://realtime-listings.webservices.zpg.co.uk/preview/listing/1495617829679820/3785_40002
https://realtime-listings.webservices.zpg.co.uk/preview/listing/1495617829679820/3785_40016
https://realtime-listings.webservices.zpg.co.uk/preview/listing/1495617829679820/3785_40029
https://realtime

[2017-08-10 16:51] therealmyth commented on #18
FYI:

Hello Fred,

Good afternoon, I hope you are well.

I am pleased to confirm that you have been successful with your 7 day dry run and you will be able to go live as of tomorrow, please add data destined for our live site to: 
https://realtime-listings-api.webservices.zpg.co.uk/live/v1/

Let me know if you need any further information. 

I shall be in contact tomorrow to make our mutual client

[2017-08-11 12:49] Vivharris commented on #22
Hi Fred,
We seem to have another problem with the website. When you ask to create PDF details from the site it says it can’t find the page (with error code 500).
Please can you investigate and fix this asap.
Thanks
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heath

[2017-08-11 13:14] therealmyth commented on #22
Hi Viv,

Any particular property? I can't seem to replicate the issue on my side.

Fred

[2017-08-11 13:15] Vivharris commented on #22
Westfield – just added.

Vivienne Harris

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<http://www.heathgat

[2017-08-11 13:21] therealmyth commented on #22
The was a memory limit issue, I changed the server settings now and it generates fine.

Fred

[2017-08-11 13:21] #22 closed, assigned to gregrice, therealmyth

[2017-08-11 17:29] Vivharris commented on #22
Hi Fred
Did you publish the Lyndhurst Road flats that were in drafts?
They seem to have shown on our webpage although no-one here added them.
I have moved them to trash as they should not have been live.
Best
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.c

[2017-08-11 18:23] therealmyth commented on #22
Hi Viv,

I did had to go through and save each properties to have them propagate
to the live real-time feed, we are going live with it today or Monday,
that might have happened then by mistake, sorry about that. Could you
check if I would have published some more the same way?

Fred

------ Original Message ------
From: "Vivharris" <notifications@github.com>
To: "ActivateMedia/heathgate" <heathgat

[2017-08-11 18:27] Vivharris commented on #22
Have been through them. All ok now.

V

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 11 Aug 2017, at 19:23, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Viv,

I did had to go through and save each properties to have them propagat

[2017-08-14 13:40] therealmyth commented on #18
Hi Viv,

We are moving the real time feed to the live environment, you may notice an error when saving the properties, I am aware of the issue and working with zoopla to resolve it, seems to be a permission problem at their end. Will update here when I hear from them.

Fred

[2017-08-14 16:30] therealmyth commented on #18
FYI:

Hi Tirrish, 

All properties have been re-submitted to the live environment, please let me know when the feed has gone live and/or you need anything else from me. 

Best regards, 

Fred

------ Original Message ------
From: "Tirrish Caleechurn" <realtimefeeds@zoopla.co.uk>
To: "frederic@activate.co.uk" <frederic@activate.co.uk>
Sent: 2017-08-14 11:35:46 AM
Subject: RE: Re[36]: Heathgate Prop

[2017-08-15 11:58] therealmyth commented on #18
Hi Viv,

The real time feed is now live on Zoopla, Please check the listed properties and let us know if there is anything that requires our attention and we will investigate further.

https://www.zoopla.co.uk/for-sale/branch/heathgate-london-3785/
https://www.zoopla.co.uk/to-rent/branch/heathgate-london-3785/

Best regards,

f

[2017-08-15 11:58] #18 closed, assigned to gregrice, therealmyth

[2017-08-15 12:08] Vivharris commented on #18
Odd photo for Lauderdale Road  - Sales £1.15m no idea what it belongs to but not loaded from our side for this property.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=

[2017-08-15 12:11] Vivharris commented on #18
Missing Spencer Walk NW3 for sale at £2,499,500.
Probably more to follow.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemi

[2017-08-15 12:23] therealmyth commented on #18
Hi Viv,

Try re-submitting the broken/missing properties by going into it and
save it again. This should be instant and they should appear or be
corrected on the zoopla instantly. if it doesn't work I will investigate
the cause.

Fred

[2017-08-15 13:37] Vivharris commented on #18
Hi Fred
This photo seems to still be showing. Not sure where it has come from.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&

[2017-08-15 15:30] therealmyth commented on #18
Hi Viv,

I went in and saved it again and it seems to be fine, not sure why it
was showing these photos...

Let me know anything

Fred

[2017-08-22 12:22] therealmyth opened #36 "Photos issue on realtime export."
Reference:

Further to the email below I have discovered that the 2 pictures mentioned that appear in Muswell Hill advert are for the property at St John’s Wood Park NW8 at £1,350 per week. Links below.
 
https://www.zoopla.co.uk/to-rent/details/44759537#Ft62K86q4LmBSHbU.97 (Zoopla)
 
http://www.heathgate.com/wp-admin/post.php?post=21503&action=edit (Activate Media)
 
Thanks

[2017-08-22 12:24] therealmyth commented on #36
I've checked the data sent to Zoopla and the correct data is sent. I have submitted the issue to Zoopla and will update when I get any update. Below is the email I sent:

Fred

Hi Tirrish, 

I hope you are well. 

We seems to have some problems with some of the pictures being assigned to properties. For example, if you look at : https://www.zoopla.co.uk/to-rent/details/44759537#Ft62K86q4LmBSHbU.97

[2017-08-23 14:13] therealmyth commented on #32
The issue has been escalated at Zoopla, our data is correct so something is going on at their end I think.

[2017-08-29 16:15] therealmyth commented on #36
Update:

Hi Tirrish, 

Sorry for that, that's the link from the admin, here are the links on the front end : 

1: http://www.heathgate.com/property/havanna-drive-temple-fortune-nw11-2/
https://www.zoopla.co.uk/to-rent/details/44730298#6Zq97EQMw2aGZsBb.97
2: http://www.heathgate.com/property/hampstead-way-hampstead-garden-suburb-nw11-2/
https://www.zoopla.co.uk/to-rent/details/44737242#T4ivYZekPyBG

[2017-08-31 16:28] Vivharris commented on #18
Dear Fred & Greg,

We are still having these issues with photos and as mentioned previously this needs to be resolved asap. We are dead in the water without the correct information loading. I appreciate that this may be a Zoopla issue but I do not have any updates that this is being addressed and it should have been dealt with days ago.

These are the issues that rentals have found.
Unfortunately

[2017-08-31 16:35] Vivharris opened #37 "A slight change to our site please"
Hi Fred and Greg
Please can we make a further amendment to the site so that I can just upload some properties to all sites and some to either others or none.
Is there a way that we can have an export menu that says Zoopla, Onthemarket and Rightmove that we can tick so that it uploads to each one individually? Unticked can remain as just the Heathgate site.
Thanks
Viv

[2017-08-31 16:35] Vivharris commented on #37
Hi Fred and Greg
Please can we make a further amendment to the site so that I can just upload some properties to all sites and some to either others or none.
Is there a way that we can have an export menu that says Zoopla, Onthemarket and Rightmove that we can tick so that it uploads to each one individually? Unticked can remain as just the Heathgate site.
Thanks
Viv

[2017-08-31 16:38] Vivharris commented on #36
Hi Fred and hope you are well.

Unfortunately the issue with the photos has not been resolved. I have checked again and as far as I can see the following properties gave been affected.

Rochester Road
Eldon Grove
Muswell Hill Road

This really needs to get resolved URGENTLY PLEASE !!!

[2017-08-31 17:20] therealmyth commented on #36
Hi Viv,

Unfortunately, they are extremely slow to respond, even if I made it clear this was an emergency. I've re-submitted a request to him, and hopefully will get an answer soon. I also notice that the delete function doesn't seems to be working on the live endpoint, while it was working on the test instance, so I raised the issue as well.

Copy of email sent:

[code]

[2017-08-31 21:02] Vivharris commented on #36
I will phone Zoopla tomorrow. Thanks

Vivienne Harris

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 31 Aug 2017, at 18:21, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Viv,

Unfortunately, they are extremely slow to respond, even

[2017-09-01 13:10] therealmyth commented on #36
From Zoopla this AM:

Hello Fred,

Good morning, I hope you are well.

I can confirm that I have passed on this information to my catalog team as an escalation and to find a resolution.

Please bare with me during this time.

Kind regards,

Tirrish

[2017-09-01 16:47] therealmyth commented on #36
That phone call seems to have them moving...

[code]

[2017-09-01 17:54] Vivharris commented on #36
Thanks Fred
Ok. Also on sales Fitzjohns Avenue £1.2m. Floorplans all wrong.
Let me know if they are dragging their heels and I will send a rocket over.
Have a good weekend.
Viv

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.co

[2017-09-04 08:45] Vivharris commented on #36
I uploaded Frognal @ £995 per week on Friday. Not showing at all on Zoopla.
Please assist urgently.
Thanks
Vivienne

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=

[2017-09-04 13:02] Vivharris commented on #36
It's now got worse as some my  of my properties are not showing at all. I spoke to Will there this morning and he has spoken to Tirrish. I have said that this needs to be sorted out today. Will says he will be in touch and please, please stay on top of them. I cant have a site where my properties aren't showing. Fitzjohns Avenue NW3 asking £1.2m is now not showing having shown be it incorrectly on

[2017-09-19 16:04] therealmyth opened #38 "Issue with map on the website"
Just to keep track :

Hi Viv/Chris,

I made a test with a new property using the address below and it did find the location on the map. Now it seems that once the latitude/longitude has been found from the address once, updating the address has no effect on the map anymore, as the stored lat/long are used for the mapping. This allows overriding the map without it being reset from the address every

[2017-09-26 12:49] therealmyth commented on #37
Hi Viv,

The change requested above has been done. You will now see one checkbox for each portal under Misc. Settings, letting you choose individual portals you want to property to be exported to:

Export to Zoopla
Export to homesandproperty.co.uk
Export to Prime Location
Export to Rightmove
Export to Net Houses Prices
Export to Agents Mutual

They are all selected at the moment for the properties

[2017-09-26 13:05] Vivharris commented on #37
Hi Fred
Thanks for this.
Have you checked the links? Especially to Agents Mutual?
Zoopla and Primelocation are in fact the same so we won’t need both.
I had an email from Nethouseprices.com today that says I am not on the site anymore so I think the link is broken to that site? Is there a way you can check?
Thanks
Viv
T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate

[2017-09-26 14:23] therealmyth commented on #37
Hi Viv

I didn't check the links no, I just enabled the ones that were active in the system already. I will disable Prime Location, since it's the same as Zoopla.

I ran the script manually today to make sure there was no errors, and all uploads worked as expected, but I have no way to know what happened on their side with the upload.  I can see that 91 properties were exported to Nethouseprices.c

[2017-09-26 17:08] Vivharris commented on #37
Have left him a message – will be in touch.
Thanks Fred.
V

T      020 7435 3344
DDI  020 7096 9341
M     07976 737 172
E      viv@heathgate.co.uk<mailto:vivharris@heathgate.co.uk>
[cid:image011.png@01D20450.6B3DE940]

home<http://www.heathgate.com/> | sales<http://www.heathgate.com/index.php?option=com_iproperty&view=list&id=0&stype=1&beds=0&baths=0&price_low=0&price_high=0&Itemid=2> | lettings<h

[2017-11-11 23:21] therealmyth opened #39 "Rightmove real time feed"
Rightmove ADF real time feed

[2017-11-15 02:44] therealmyth opened #40 "Property features not sent to Zoopla"
For reference:

Dear Fred,
I hope that you are well.
When our properties upload to Zoopla and Onthemarket.com they do not show with the bullet points as shown below.
Is there a way that this format can be uploaded to these sites so that all our properties show with property features?

Property features
·         6 Bedrooms
·         2 Reception Rooms
·         3 Bathrooms
·         House
·

[2017-11-15 02:51] therealmyth commented on #40
@Vivharris , As discussed, I had a look at the issue with the export plugin issue with the features export. The problem was that they were getting ignored because of a glitch in a function of the plugin. This has now been fixed and export properly: https://www.zoopla.co.uk/to-rent/details/45576441

If you want I can go through and re-submit all the properties tomorrow to get all the features expor

[2017-11-15 08:36] Vivharris commented on #40
Thanks that would be great x

Vivienne Harris

Office: 020 7435 3344
Mobile: 07976 737 172

HEATHGATE
105 Heath Street, Hampstead, London, NW3 6SS
Fax: 020 7433 3344   Website: www.heathgate.com<http://www.heathgate.com>

On 15 Nov 2017, at 02:51, therealmyth <notifications@github.com<mailto:notifications@github.com>> wrote:

@Vivharris<https://github.com/vivharris> , As discussed, I had a look at

[2017-11-15 14:27] therealmyth commented on #40
This has been done

Fred

[2017-11-15 14:27] #40 closed, assigned to therealmyth

[2018-03-13 01:14] therealmyth opened #41 "Privacy policy and cookies notice"
The regulations are changing for 25th May about how we handle data and therefore I need a button on the home page to link to the Privacy Policy document I am attaching. I will also need to include with any cookies information that comes up on the site, with a brief synopsis of how HG handles them. Does the site claim that it uses cookies or other similar trackers? If so I will have to write someth

[2018-03-13 01:15] #39 closed, assigned to therealmyth

[2018-03-13 01:15] #38 closed, assigned to therealmyth

[2018-03-13 01:15] #37 closed, assigned to gregrice, therealmyth

[2018-03-13 01:16] #36 closed, assigned to therealmyth

[2018-03-13 15:07] therealmyth commented on #41
Hi Viv,

The banner is now active, I changed the "Read More" button for "Privacy Policy", I thought it would make it clearer. I also linked to the Privacy policy from the About Us Menu, I tried to add it along the copyright notice in the footer but it wasn't looking good anywhere there...

Let me know if anything.

Fred

[2018-03-13 15:07] #41 closed, assigned to nobody

[2018-04-14 17:15] therealmyth opened #42 "Property feature specific ordering"
I would really like your help with the accommodation section of the site as per the attached photo.
As you can see the rooms appear in any order and the programme seems to change caps to non caps. What would be really great is if we could have these in the order we write them and if they could be made uniform so that the first letter of each word was always caps. If poss and not sure if it is, I w

[2018-04-14 17:16] therealmyth opened #43 "Instagram hyperlink set up on the home page"
Hope you are well.
Is there a way that we can have an Instagram hyperlink set up on the home page of our site please?
Also we have never address the way the accommodation is set out on the details page on the properties. Can we try to deal with this also?
Thanks.

[2018-04-14 20:54] therealmyth commented on #42
I changed the algorithm for the sorting, the way it work is that it search for keyword and sort the features list using that key. Right now the search terms are bedroom, bathroom, reception, dining, kitchen, room. The last search term "room" is meant to pick any rooms not picked up by the previous search, so that the outside areas comes after all the other rooms, so utility room, family room etc w

[2018-04-14 20:54] #42 closed, assigned to therealmyth

[2018-04-14 20:55] therealmyth commented on #43
The link has been added along with the twitter and facebook account as discussed.

[2018-04-14 20:55] #43 closed, assigned to therealmyth

[2018-04-25 15:15] bhavesh-activatemedia commented on #32
@therealmyth I take it this can be closed as its been so long?

[2018-04-25 15:40] therealmyth commented on #32
Hey @bhavesh-activatemedia , I'm keeping that one as a sticky issue whenever I do an update to the platform and/or plugins

[2018-08-15 12:30] therealmyth opened #44 "SEO work"
For tracking purpose:

Hi Daniel,

I tried the search and can see it first on the 2nd page. Here's a few tips that might help to get it to the first page.

A good start would be to install and enable a SEO module. This will allow us to set some keywords and description that will help search engines to know what the site is about. Keywords are important words or phrases that people are likely to se

[2018-09-30 21:07] therealmyth commented on #44
Hi Viv,

I managed to update the site to the latest version of Wordpress. There was many issues with some of the plugin we use, but all seems to be working fine now. I also been able to install the SEO module. I did the initial configuration, and also optimised the frontpage using the details you sent in the email above.

There is still work that need to be done for improvement, but this should st

[2018-09-30 21:10] therealmyth commented on #32
Site has been updated to the latest version of WP (4.9.8). There was a lot of issues with some of the plugins on the site, these are all fixed. Will need to upgrade the theme in the next quarter, which will probably require to port some of the work previously done.

[2018-09-30 21:11] therealmyth opened #45 "Rightmove - sales channel"
For reference:

I think I will go back on with Rightmove for sales so please can you make any amendments to the site so that we are able to upload to them. We currently do this for rentals only.

[2018-09-30 21:12] therealmyth commented on #45
Hi Viv,

This is now ready and you should be able to upload sales as soon as Rightmove autorises you to do so.

Fred

[2018-09-30 21:12] #45 closed, assigned to nobody

[2018-10-13 20:17] therealmyth opened #46 "SEO - Fix clickable area size"
Google report shows the touch elements, such as buttons and navigational links, are so close to each other that a mobile user cannot easily tap a desired element with their finger without also tapping a neighboring element.

Correctly size and space buttons and navigational links to be suitable for your mobile visitors.

[2018-10-13 20:21] therealmyth opened #47 "SEO - Content wider than screen"
Google report indicates some pages where horizontal scrolling is necessary to see words and images on the page. This happens when pages use absolute values in CSS declarations, or use images designed to look best at a specific browser width (such as 980px).

Will make sure the pages use relative width and position values for CSS elements, and will make sure images can scale as well.

[2018-10-13 20:21] therealmyth commented on #44
Closing this issue and will use more detailed issues from now on.

[2018-10-13 20:21] #44 closed, assigned to nobody